$background: #FAF3DD;
$border: #FFA69E;
$hoverColorBorder: #5E6472;
$pageGridBorder: #5E6472;
$hoverPageGridBorder: #c2cbe1;
$pageShadow: #5E6472;
$font: #5E6472;

.layout {
    color: $font;
    background: $background;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main {
        width: 736px;
        height: 600px;
        border: 2px solid $border;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 20px;
        display: grid;
        grid-template-rows: 60px 1fr 100px;
        grid-template-columns: 80px 1fr 160px;
        grid-template-areas:
          "actionBtns actionBtns actionBtns"
          "colors  workspace showFlipbook"
          "pages pages pages";

        .actionBtns {
            grid-area: actionBtns;
            display: flex;
            justify-content: center;

            .actionBtn {
                cursor: pointer;
                background: transparent;
                width: 100px;
                height: 40px;
                border: 2px solid $border;
                border-radius: 4px;
                color: $font;
                font-size: 18px;
                transition: background 0.5s;
                margin: 0px 8px;

                &:hover {
                    background: #ffffffdd;
                }
            }
        }

        .colors {
            grid-area: colors;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .colorWapper {
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                margin: 4px;

                .colorButton {
                    border: 1px solid $border;
                    color: transparent;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;

                    &:hover {
                        border-width: 0px;
                    }
                }
                .focusColorButton {
                    border-width: 0px;
                }
                &:hover {
                    border: 2px dashed $hoverColorBorder;
                }
            }
            .focusColorWapper {
                border: 2px dashed $hoverColorBorder;
            }
        }
        .workspace {
            grid-area: workspace;
            display: flex;
            justify-content: center;
            padding: 0px 20px;

            .page {
                display: flex;
                width: 384px;
                height: 384px;
                box-shadow: 0px 0px 6px 1px $pageShadow;

                .pageRow {
                    .pageGrid {
                        width: 22px;
                        height: 22px;
                        border: 1px solid $pageGridBorder;
    
                        &:hover {
                            border: 0px;
                        }
                    }
    
                    .pageGridBorder {
                        width: 24px;
                        height: 24px;
                        box-sizing: border-box;
    
                        &:hover {
                            border: 1px solid $hoverPageGridBorder;
                        }
                    }
                }
            }
        }
        .showFlipbook {
            grid-area: showFlipbook;
        }
        .pages {
            grid-area: pages;
        }
    }
}
