$background: #FAF3DD;
$border: #FFA69E;
$hoverColorBorder: #5E6472;
$pageGridBorder: #5E6472;
$hoverPageGridBorder: #c2cbe1;
$pageShadow: #5E6472;
$showFlipbookBorder: #aed9e0;
$showFlipbookBackGround: #b8f2e6;
$font: #5E6472;

:export {
    background: $background;
    border: $border;
    hoverColorBorder: $hoverColorBorder;
    pageGridBorder: $pageGridBorder;
    hoverPageGridBorder: $hoverPageGridBorder;
    pageShadow: $pageShadow;
    showFlipbookBorder: $showFlipbookBorder;
    showFlipbookBackGround: $showFlipbookBackGround;
    font: $font;
}